@import '../template.css';

:root {
    --default_checkbox_color: darkcyan;
}

body { font-family: 'Montserrat'; }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#retangulo-titulo { height: 7rem; }

#retangulo-titulo h2 { margin: auto 0 auto 1.5rem; }

main h4 { margin-top: 1rem; }

main h2 , main h4 { font-weight: bold; }

main input:checked { background-color: var(--default_checkbox_color) !important; border-color: var(--default_checkbox_color) !important; }

#section-relatorio, #section-controle { padding: 1.5rem 2.5rem 2.5rem 5rem; }

#section-controle input { width: 10rem; }

#section-controle h5 { width: 20%; }

.card-barbeiro { padding: 0.75rem; border-radius: 1rem; border: solid black 2px; width: 75%; }

.card-barbeiro button { border: solid white 2px; width: 100%; margin: auto 0 auto 0;}

.card-barbeiro button:hover { border: solid white 2px; }
